{% extends 'blog/base.html' %}
{% load static %}

{% block head_title %}
    关于网站_网站及博主介绍
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">
                <h2 class="font-weight-bold">关于网站</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <ul class="pl-4 ml-2">
                    <li>Github 地址：<a href="https://github.com/Longafter"
                                        target="_blank">https://github.com/Longafter</a></li>
                    <li>基于 Django2.X & Bootstrap3 开发</li>
                    <li>数据库使用的是 MySQL</li>
                    <li>使用 Nginx + Gunicorn 实现将本站部署至阿里云 ECS 服务器上</li>
                </ul>
                <h2 class="mt-2 font-weight-bold">功能介绍</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <ul class="pl-4 ml-2">
                    <li>文章分类，标签，归档，浏览量统计</li>
                    <li>用户注册，登录，修改个人资料</li>
                    <li>文章评论，支持 markdown 语法，二级评论结构</li>
                    <li>消息提醒，登录，注销，收到评论会有消息提示</li>
                    <li>全文搜索，输入任意关键词即可展示关联文章</li>
                    <li>后端使用 xadmin 代替 Django 自带的后台管理，界面更加人性化</li>
                    <li>时间轴，记录网站开发历程</li>
                </ul>
            </div>
        </div>
        
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}