{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- TDK and ICO -->
    <title>
        {% block head_title %}

        {% endblock %} | 左撇子招牌字
    </title>

    {% block metas %}
    
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico'%}" type="image/x-icon"/>
    <!-- Bootstrap and font-awesome CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'blog/js/headroom.min.js' %}"></script>
    <!-- blog CSS -->
    <link href="{% static 'blog/css/base.css' %}" rel="stylesheet">

    {% block top-file %}

    {% endblock %}
</head>
<body>

<!--导航开始-->
{% include "blog/tags/navbar.html" %}
<!--导航结束-->

<!--消息块-->
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<!--回到顶部按钮-->
<div class="text-center" id="to-top">
    <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
</div>

<!--主要内容块-->
<main>
    {% block base_content %}

    {% endblock %}
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<!--js cookie 插件-->
<script src="{% static 'blog/js/js.cookie.min.js' %}"></script>
<script src="{% static 'blog/js/popper.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

<script>
$(function(){var myElement=document.querySelector(".blog-navbar");var headroom=new Headroom(myElement);headroom.init()});
</script>
<script src="{% static 'blog/js/base.js'%}?v=20200519.23"></script>

{% block end_file %}

{% endblock %}

<footer class="container-fluid mt-4 py-0">
    <div class="card-body text-center px-0 f-14">
        <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
            <a href="https://github.com/Longafter" target="_blank" title="博客作者的Github">Longafter</a>.&nbsp;Powered&nbsp;by&nbsp;Django & &nbsp;Bootstrap.
        </p>
        <p class="mb-0">
            <a href="http://beian.miit.gov.cn/" target="_blank">（备案）</a>&nbsp;|
            <a href="/sitemap.xml" target="_blank">Sitemap</a>
            |&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275912930'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1275912930' type='text/javascript'%3E%3C/script%3E"));</script>
            <span id="web-day"></span>
        </p>
        <script>function getnewYear(){var d = new Date();var old = new Date('2020/05/19');
            var x = document.getElementById("year-info");
            x.innerHTML=d.getFullYear();var y=document.getElementById("web-day");
            var dd=Math.floor((d.getTime() - old.getTime()) / (24 * 3600 * 1000));
            var d_str="| 网站已续航 "+dd+" 天";y.innerHTML=d_str;}getnewYear()</script>
    </div>
</footer>
</body>
</html>